<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
<link rel="stylesheet" href="{% static 'home/ableplayer-ableplayer-32da8a7/build/ableplayer.min.css' %}" type="text/css"/>


    <style>
    .jfk-bubble{
        right:0;
        top:0 !important;
        position: fixed;
        left:auto !important;

    }

</style>
</head>

<body>
<!--<video id="video1" data-able-player preload="auto" width="480" height="360">

  <source type="video/mp4" src="http://videosws.praegnanz.de/assets/video.mp4"/>
<track kind="captions" src="{% static 'home/vtt/subtitles_en.vtt' %}"/>
  <track kind="descriptions" src="{% static 'home/vtt/subtitles_en.vtt' %}"/>
http://ccsubs.com/video/yt:-TFCMK4i2lo/batman-identity-crash-course-philosophy-18/download?format=vtt&lang=en
http://ccsubs.com/video/yt:IV-8YsyghbU/leonardo-dicaprio-the-nature-of-reality-crash-course-philosophy-4/download?format=vtt&lang=en
http://ccsubs.com/video/yt:Q4Zdmd4J7TI/the-modern-revolution-crash-course-big-history-8/download?format=vtt&lang=en
</video>
-->


<video data-youtube-desc-id="S93jMOqF-oE" data-youtube-id="S93jMOqF-oE" id="video3" data-able-player preload="auto" width="1080" height="720">
<track kind="captions" src="{% static 'home/vtt/philo.vtt' %}"/>

</video>

</body>
<script src="{% static 'home/ableplayer-ableplayer-32da8a7/thirdparty/modernizr.custom.js' %}"></script>
<script src="{% static 'home/js/jquery.min.js' %}"></script>

<script src="{% static 'home/ableplayer-ableplayer-32da8a7/thirdparty/js.cookie.js' %}"></script>
<script src="{% static 'home/ableplayer-ableplayer-32da8a7/build/ableplayer.min.js' %}"></script>
<script>
  var youTubeDataAPIKey = "AIzaSyA8YrxA8k-L2_pC4bRhwZ3u0lSfiwVoDT4";
  var googleApiReady = false;
  function initGoogleClientApi() {
    googleApiReady = true;
  }
</script>

</html>
