<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="UTF-8">
{% load staticfiles %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<title>Contact</title>

<!-- Use downloaded version of Bootstrap. You can style everything here to your liking. -->
<!-- Download the Bootstrap source code here
http://getbootstrap.com/getting-started/ -->
<link rel="shortcut icon" href="{% static "zinnia/img/aves.png" %}" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--[if lte IE 8]><script src="{% static 'home/contact/js/ie/html5shiv.js' %}"></script><![endif]-->
    <link rel="stylesheet" href="{% static 'home/contact/css/main.css' %}" />
<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'home/contact/css/ie8.css' %}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'home/contact/css/ie9.css' %}" /><![endif]-->

<style type="text/css">
#map{
    width:0%;
}
    .fwechat{
        width:10%
    }

</style>
</head>
<body>

<!-- Header -->
			<header id="header">
				<h1>Contact Us</h1>
				<p>
                    Xueyuan E St, Saihan Qu, Huhehaote Shi,A 312<br><a href="http://binged.it/1qqNKtM">Neimenggu Zizhiqu, China, 010070</a><br>
                </p>
                <p>It is {% now "jS F Y H:i:s" %}</p>
                {% load getImgUrl%}

                <img src="https://collegexam.files.wordpress.com/2016/07/{% now "s" %}.jpg" alt="1" class="fwechat">\
				<img src="https://collegexam.files.wordpress.com/2016/07/{{ rand|add:"1234567890om"|make_list|random }}.jpg" alt="2" class="fwechat">
				<img src="https://collegexam.files.wordpress.com/2016/07/{{ rand|add:"pqrstuvwxyzn"|make_list|random }}.jpg" alt="3" class="fwechat">
				<img src="https://collegexam.files.wordpress.com/2016/07/{{ rand|add:"abcdefghijkl"|make_list|random }}.jpg" alt="4" class="fwechat">




                <p><i class="fa fa-phone"></i>
                    <abbr title="Phone">P</abbr>: 15598033506</p>
                <p><i class="fa fa-envelope-o"></i>
                    <abbr title="Email">E</abbr>: <a>254515184@qq.com</a>
                </p>
			</header>



		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://twitter.com/avescoop" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/AVES-929990587109838/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.linkedin.com/profile/preview?locale=en_US" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
                    <li><a href="https://plus.google.com/113907252636829266395/posts" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					<li><a href="https://github.com/JimmyRowland" class="icon fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="mailto:254515184@qq.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>

				</ul>
				<ul class="copyright">
					<li>&copy; avescoop.me. All rights reserved.</li><li>Credits: <a href="https://html5up.net">HTML5 UP</a></li>
                    <li>
                        <a href="{% url 'home:index' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'home:schedules' %}">Class Schedules</a>

                    </li>

                    <li>
                        <a href="{% url 'home:about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'home:faq' %}">FAQ</a>
                    </li>
                    <li>
                        <a href="{% url 'zinnia:entry_archive_index' %}">Blog</a>
                    </li>
                    <li>
                        <a href="{% url 'home:contact' %}">Contact</a>
                    </li>
				</ul>
			</footer>


<!--[if lte IE 8]><script src="{% static 'home/contact/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'home/contact/js/main.js' %}"></script>



</body>
</html>