<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>AVES</title>
    <link rel="shortcut icon" href="{% static "zinnia/img/aves.png" %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type = "text/css"/>

    <!--[if lte IE 8]><script src="{% static 'home/js/ie/html5shiv.js' %}"></script><![endif]-->
    <link rel="stylesheet" href="{% static 'home/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}" type = "text/css"/>
    <!--[if lte IE 9]><link rel="stylesheet" href="{% static 'home/css/ie9.css' %}" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{% static 'home/css/ie8.css' %}" /><![endif]-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style type="text/css">


      .navbar-inverse .navbar-brand:hover,
      .navbar-inverse .navbar-brand:focus {
        color: #0085a1;
      }


    </style>
</head>
<body class="landing">
<div id="page-wrapper">
{% block navbar %}
{% include "home/includes/cusnavbar.html" %}
{% endblock %}
<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<div class="carousel-caption" id="banner-caption">

                              <h1>You Can Achieve Anything</h1>
                              <h4>We Will Help You Follow Your Dream</h4>
                              <ul class="actions">
							    <li><a href="{% url 'home:contact' %}" class="button">Learn More</a></li>
                              </ul>

                            </div>
						</header>
						<span class="image"><img src="{% static "zinnia/img/aves.png" %}" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="{% static 'home/img/photo.png' %}" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2>We Care About Your Future</h2>

									</header>
								</div>
								<div class="4u 12u$(medium)">
									<ul>
                                        <li>Need help with the tricky application process?</li>
                                        <li>Want to get into the Ivy League?</li>
                                    </ul>
								</div>
								<div class="4u$ 12u$(medium)">
									<p>Let our native English speakers communicate with America’s top universities for you.</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="https://collegexam.files.wordpress.com/2016/07/2016-04-16_shenandoahnp_row12113844963_1920x1080.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>We Offer Different ESL Classes Just For You</h2>
							<p>Get ahead of the competition</p>
						</header>
						<p>Our ESL teachers are experienced and tremendously charming. We also have happiest students.</p>
						<ul class="actions">
							<li><a href="{% url 'home:about' %}" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="{% static 'home/img/culture.png' %}" alt="" /></span>
					<div class="content">
						<header>
							<h2>We Have Various Culture Exchange Programs For You To Choose</h2>
							<p>America? Canada?</p>
						</header>
                        <ul>
                            <li>Internship</li>
                            <li>Summer School</li>
                            <li>Summer Camp</li>
                        </ul>
						<ul class="actions">
							<li><a href="{% url 'home:contact' %}" class="button">Contact Us Now</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

{% block footer1 %}
{% include "home/includes/footer1.html" %}
{% endblock %}
</div>
<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="{% static 'home/js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'home/js/jquery.dropotron.min.js' %}"></script>
<script src="{% static 'home/js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'home/js/skel.min.js' %}"></script>
<script src="{% static 'home/js/util.js' %}"></script>
<!--[if lte IE 8]><script src="{% static 'home/js/ie/respond.min.js' %}"></script><![endif]-->
<script src="{% static 'home/js/main.js' %}"></script>
<script src="{% static 'home/js/clean-blog.min.js' %}"></script>




</body>
</html>